<header>
  <h1>POC: Image Point of Interest</h1>
  <p>Resize the browser window to see the benefit of using the point of interest.</p>
  <p><span class="target inline"></span> = Point of Interest</p>
</header>

<section id="image-comparison">
  <div id="example1">
    <h2>A</h2>
    <div class="picture">
      <img ng-Srcset="{{assets[0].story.media[0].renditions.thumb.href}} {{assets[0].story.media[0].renditions.thumb.width}}w,
                      {{assets[0].story.media[0].renditions.preview.href}} {{assets[0].story.media[0].renditions.preview.width}}w,
                      {{assets[0].story.media[0].renditions.full.href}} {{assets[0].story.media[0].renditions.full.width}}w,"
           sizes="50vw" alt="demo image #1" />
    </div>
    <p>Current Approach</p>
  </div>

  <div id="example2">
    <h2>B</h2>
    <poi media="assets[0].story.media[0]"></poi>
    <p>Using POI</p>
  </div>
</section>

<!-- <p style="left: 10%;" ng-repeat="asset in assets">{{asset.story.media[0].renditions}}</p>
<p>{{asset.story.media[0].renditions.full.</p> -->


